include *.txt
include *.md
include *.pkl
recursive-include ./titanic_package/*

include titanic_package/datasets/train.csv
include titanic_package/datasets/test.csv
include titanic_package/trained_models/*.pkl
include titanic_package/VERSION
include titanic_package/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
